html {
    box-sizing: border-box;
    font-size: 20px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
}
div{
    width: 100px;
    margin: 100px auto;
    height: 100px;
    background: green;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
}
