html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #4169E1
}

h1:first-letter {
    font-size: 1.3em;
    color: #FF4500
}