html {
    box-sizing: border-box;
    font-size: 20px;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

span {
    background-color: #74F900;
}

p:last-of-type span:last-of-type{
    background-color: #DE6536;
}
