html {
    box-sizing: border-box;
    font-size: 20px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

h1 i{
    color: #DC143C
}
i{
    color: #73C6FF
}