html {
    box-sizing: border-box;
    font-size: 20px;
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.skylt{
    margin: 100px auto 0 auto;
    width: 600px;
    display: block;
    transform: rotate(10deg);
    transition: 3s;
}
.rep{
    margin: -150px auto;
    width: 24px;
    display: block;
}
.skylt:hover{
    transform: rotate(-10deg);
    transition: 3s;
}